---
import Layout from '../layouts/Layout.astro';
const pageTitle = "The Literary Asylum";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>The Literary Asylum</h1>
    <span class="badge">Digital Craftsman (Developer)</span>
    <h2>About</h2>
    <p>
        Hi! My name is Jazmine and I'm the human behind The Literary Asylum. 
        I'm a former bookseller with an interest in reading, writing, and reviewing 
        books. Here you'll find reviews of books from cozy fantasy to literary fiction
        to dark romance. I read just about anything! 
    </p>
    <p>
        If you would like me to review a book, fill out the form underneath the Review Request
        tab. 
    </p>
    <h2>Interests</h2>
    <p>
        I mostly read literary fiction,  but am not opposed to other genres. 
    </p>
</Layout>

