---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Milky-Way</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
        <a href="/review_requests/">Review Request</a>
        <a href="https://www.instagram.com/literary_asylum/ target="_blank">Instagram</a>
        <ThemeIcon />
    </div>
</div>

